.login{
    width: auto;
    height: auto;
    font-size: auto;
    font-style: italic;
    font-display: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: fixed;
    background-color: aqua;
}